<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {{/* TODO This is not production ready */}}
    <script src="https://cdn.tailwindcss.com/3.2.1"></script>
    {{/* TODO This is not production ready */}}
    <meta name="htmx-config" content='{"historyCacheSize": 0, "refreshOnHistoryMiss": false}'>
    <script crossorigin="anonymous" integrity="sha384-+8ISc/waZcRdXCLxVgbsLzay31nCdyZXQxnsUy++HJzJliTzxKWr0m1cIEMyUzQu" src="https://unpkg.com/htmx.org@1.8.2/dist/htmx.min.js"></script>
</head>
<body hx-boost="true">
    <nav>
        <ul>
            <li>
                <a href="/">Gatter</a>
            </li>
            {{/* Get available apps automatically */}}
            <li>
                <a href="/macro">Macro</a>
            </li>
        </ul>
    </nav>
    {{ template "content" . }}
</body>
</html>